* {
    margin: 0px;
    padding: 0px;
}

canvas {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    border: 1px solid #F4F4F4;
    border-radius: 5px;
}